<div>
    <h1>{{title}}</h1>
    <hr/>
    <table id="table">
        <tr>
            <td>Id</td>
            <td>Title</td>
            <td>Description</td>
            <td>Code</td>
            <td>Price</td>
            <td>Status</td>
            <td>Stock</td>
            <td>Category</td>
            <td>Thumbnail</td>
        </tr>
        {{#each listProducts}}
            <tr id="product-{{id}}">
                <td>{{id}}</td>
                <td>{{title}}</td>
                <td>{{description}}</td>
                <td>{{code}}</td>
                <td>{{price}}</td>
                <td>{{status}}</td>
                <td>{{stock}}</td>
                <td>{{category}}</td>
                <td>{{thumbnail}}</td>
            </tr>
        {{/each}}
    </table>
</div>


<script type="module">
    import {io} from "https://cdn.socket.io/4.3.2/socket.io.esm.min.js";

    const socket = io();

    socket.on('connect', () => {
        console.log('cliente front');
    });

    socket.on('productCreated', product => {
        const row = `
            <tr id="product-${product.id}">
              <td>${product.id}</td>
              <td>${product.title}</td>
              <td>${product.description}</td>
              <td>${product.code}</td>
              <td>${product.price}</td>
              <td>${product.status}</td>
              <td>${product.stock}</td>
              <td>${product.category}</td>
              <td>${product.thumbnail}</td>
            </tr>
          `;
        document.querySelector('#table tbody').insertAdjacentHTML("beforeend", row);
    });

    socket.on('productRemoved', id => {
        const productElement = document.querySelector(`#product-${id}`);
        if (productElement) productElement.remove();
    });

</script>